{% extends 'base.html' %}

{% block content %}

<h1 class="text-center display-3 py-5">{{title}}</h1>
{% for task in tasks %}


<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <ul class="list-group">
                <a class="list-group-item" href="{% url 'task_detail' task.id %}">
                <header class="d-flex justify-content-between align-items-center"></header>
                {% if task.important %}
                    <h2 class="fw-bold text-success">Title: {{ task.title }}</h2>
                {% else %}
                    <h2 class="fw-bold">Title: {{ task.title }}</h2>
                {% endif %}
                <p>Description: {{ task.description }} </p>
                <p>Author: <span>By </span>{{ task.user.username|capfirst }}</p>
                <p>{{task.datecompleted|date:'M j Y'}}</p>
                </header>
                </a>


            </ul>
        </div>
    </div>
</main>

{% empty %}
    <p>No tasks available.</p>
{% endfor %}

{% endblock %}